.demo-card-square.mdl-card {
  width: 500px;
  height: 350px;
   width: 100%;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  
}

.articulo-card{
    padding-bottom: 80px;
}

.paginacion{
  text-align: center;
}


