<section class="grid-articulos">
    <!-- Aun no utulizo el id grid-articulos para nada-->
<div class="container">
        <dv class="row">
            <div class="col-xs-12">
                <h3>Novedades en el mundo Geek</h3>
            </div>
        </dv>
</div>

<div class="container">    
    <div class="row">
       
            <div class="row">
                <div class="container">
                     <!--1 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">  
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div>
                    </div>          
                    <!--2 -->
                      <div class="col-xs-12 col-sm-6 col-md-4">  
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div>
                    </div>       
                            <!--3 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">         
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div>  
                    </div>      
                                 
                            <!--4 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">          
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div>
                    </div>
                         <!--5 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">          
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">  
                            <!--1 -->
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div>
                    </div>    
                        
                            <!--2 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">          
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div>
                    </div>       
                            <!--3 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">         
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div> 
                    </div>                 
                            <!--4 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">       
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div>
                    </div>
     
                        <!--5 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">        
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    View Updates
                                    </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        
        <div class="clearfix"></div>
        <div class="col-xs-12 col-sm-12 ">
            <h1>Col-xs-8 Sistema de Comentarios</h1>
        </div>
    </div>
</div>

</section>