<header id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-5 col-sm-3">
                    <div class="title-header">
                        Comgeeks
                    </div>
                </div>
                <div class="col-xs-4 col-sm-6 list-categorias">
                        <ul class="nav nav-pills hidden-xs">
                            <li>
                                <span class="mdl-chip mdl-chip--contact">
                                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">M</span>
                                    <span class="mdl-chip__text"><a href="#">Marvel</a></span>
                                </span>  
                            </li>
                            <li>
                                <span class="mdl-chip mdl-chip--contact">
                                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">DC</span>
                                    <span class="mdl-chip__text"><a href="#">DC Comics</a></span>
                                </span>
                            </li>
                            
                            <li>
                                 <span class="mdl-chip mdl-chip--contact">
                                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">R</span>
                                    <span class="mdl-chip__text"><a href="#">Reviews</a></span>
                                </span>   
                            </li>
                            <li>
                                <span class="mdl-chip mdl-chip--contact">
                                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">N</span>
                                    <span class="mdl-chip__text"><a href="#">News </a></span>
                                </span>     
                            </li>
                            
                            <li>
                                <span class="mdl-chip mdl-chip--contact">
                                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">B</span>
                                    <span class="mdl-chip__text"><a href="#">Bad Guys </a></span>
                                </span> 
                            </li>
                     </ul>  
                     <a href="#" id="mobile-menu-button" class="btn btn-default visible-xs" onclick="toggleMobileMenu()">
                                <span class="glyphicon glyphicon-th-list"></span>
                     </a>             
                </div>
                <div class="col-xs-3 col-sm-3">
                                        <!-- Expandable Textfield -->
                    <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                        <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="sample6">
                        <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                        </div>
                    </div>
                    </form>
                    <ul  class="nav nav-pills menu-login" >
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Registrate</a></li>
                    </ul>

                </div>
                 
            </div> <!-- Cierra class="col-xs-12"-->
        </div>
    </div>
    <div class="visible-xs">
        <ul id="mobile-main-menu">
            <li> <a href="#">Marvel</a></li>
            <li><a href="#">DC Comics</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">News </a></li>
            <li><a href="#">Bad Guys </a></li>
        </ul>
    </div>
</header>