    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, 
    user-scalable = no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Hojas de estilo-->
    <link rel="stylesheet"  href="main.css">

    <!-- Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="material.min.css">
    <script src="material.min.js"></script>


     <!--Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
    <!--Boostrap Js -->
    <script src="/bootstrap/bootstrap.min.js"></script>

   

