<header id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="title-header">
                    Comgeeks
                </div>
            </div>
            <div class="col-xs-3">
                    <a href="#">Spring MVC.</a>
                    <span class="mdl-badge" data-badge="12"></span
            </div>
            <div class="col-xs-3">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
    </div>
</header>