 <header id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-3">
             <h3 id="main-logo"> <a href="">WKSP<span>Workshop Demo</span></a></h3>
            </div>
            <div class="col-xs-4 col-sm-6">
                <ul id="main-menu" class="nav nav-pills hidden-xs" >
                      <li class="active"><a href="">Inicio</a></li>
                      <li class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Workshops
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="">Workshop A</a></li>
                                <li><a href="">Workshop B</a></li>
                            </ul>
                      </li>
                      <li><a href="#">INSTALACIONES</a></li>
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">CONTACTO</a></li>
                    </ul>
                        <a href="#" id="mobile-menu-bottom" class="btn btn-default visible-xs" onclick="toggleMobileMenu()">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a> 
            </div>
            <div class="col-xs-4 col-sm-3">
                <p>If you click on the "Hide" button, I will disappear.</p>
                <button id="hide">Hide</button>
                <button id="show">Show</button>
            </div>        
        </div>
    </div>
    <div class="visible-xs">
        <ul id="mobile-main-menu">
            <li><a href="Pinino.html">Inicio</a></li>
            <li><a href="Detail.html">Workshop A</a></li>
            <li><a href="Detail.html">Workshop B</a></li>
            <li><a href="#">Instalaciones</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
   </header>