<article id="w1" class="detail">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-image">
						<h3>Desarrolla front-end like a boss con Angular 4</h3>
					</div>
				</div>
			</div>
		</header>     
    <div class="container">
			<div class="row">
				<div class="col-xs-7">
					<section id="intro">
						<h3>En este workshop aprenderás...</h3>
						<p>En este workshop de 8 horas de duración de Victor Torres 
						   te mostrará como optimizar tú flujo de trabajo con Angular 4 y todos 
						   sus nuevos componentes a la hora de realizar el front-end de un proyecto web. 
                            Aprenderás muchas cosas.  </p>
						<p>Como siempre podrás complementar todo lo que aprendas durante el workshop 
                            compartiendo experiencias con otros asistentes y el/los ponentes durante la comida.</p>
					</section>
					<section id="trainer-list">
						<h3>Formador</h3>
						<div class="trainer row">
							<div class="col-xs-6">
								<img src="imgs/4.jpg" alt="Marcos Gonzalez"> 
							</div>
							<div class="col-xs-3 col-xs-offset-3 formador">
								<h4>Vìctor M. Torres</h4>
								<p>
									Desarrollador en Wipro Technologies <br/>
									Co-fundador  y CTO de GeekCode Latam. <br/>
									Formador en Udemy
								</p>
								<a href="#" class="trainer-link">CV online</a>
								<p><span>Github: <a href="#" class="trainer-link">@Vicmi13</a></span></p>
							</div>
						</div>
						<br>
					</section>
				</div>

				<!-- Agenda -->
				<div class="col-xs-5">
					<section id="registration">
						<h3>Registro</h3>
						<p>Aquí esta la agenda ya preparada para poder
						adjuntar lo que se desea. 
						<div id="registration-badge">
							<h3 class="price">$ 5000.0 </h3>
							<p class="included">
								workshop +<br>
								lunch +<br>
								material
							</p>
							<div class="clearfix"></div>
							<a href="#" class="do-register">ME APUNTO!</a>

						</div>
					</section>
					<section id="agenda">
						<h3>Agenda</h3>
						<h4><span>W21</span> Sábado 9 de Septiembre</h4>
						<dl class="dl-horizontal">
							<dt>10:00 hrs </dt>
							<dd>Workshop parte 1</dd>
							<dt>11:00 hrs </dt>
							<dd>Workshop parte 2</dd>
							<dt>14:00 hrs </dt>
							<dd>Receso</dd>
							<dt>15:00 hrs </dt>
							<dd>Workshop parte 3</dd>
							<dt>17:00 hrs </dt>
							<dd>Workshop parte 4</dd>
							<dt>18:00 hrs </dt>
							<dd>Fin de workshop</dd>
						</dl>
					</section>
				</div>
			</div>
		</div>    	
		
		<!-- Indice -->
		<section id="table-of-contents">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h3>Índice de contenidos</h3>
						<div class="col-xs-4">
							<h4>1. Angular 4</h4>
							<ul>
								<li>Item indice 1</li>
								<li>Item indice 2</li>
								<li>Item indice 3 </li>
							</ul>
							<h4>4. Domina typescript</h4>
							<ul>
								<li>Item indice 1</li>
								<li>Item indice 2</li>
								<li>Item indice 3 </li>
							</ul>
						</div>
						<div class="col-xs-4">
							<h4>2. Servicios, HTTP</h4>
							<ul>
								<li>Item indice 1</li>
								<li>Item indice 2</li>
								<li>Item indice 3 </li>
							</ul>
							<h4>5. Routing y Nav</h4>
							<ul>
								<li>Item indice 1</li>
								<li>Item indice 2</li>
								<li>Item indice 3 </li>
							</ul>
						</div>
						<div class="col-xs-4">
							<h4>3. Ng template</h4>
							<ul>
								<li>Item indice 1</li>
								<li>Item indice 2</li>
								<li>Item indice 3 </li>
								<li>Item indice 4 </li>
								<li>Item indice 5 </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

        <!-- Preguntas frecuntes-->
		<section id="faq">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h3>Preguntas frecuentes</h3>
					</div>
					<div class="col-xs-4">
						<h4>¿Qué ocurre sin finalmente no puedo acudir?</h4>
						<p>Cada workshop tiene una fecha límite de anulación a partir de la cual solamente podremos reembolsarte una parte de la inscripción</p>
					</div>
					<div class="col-xs-4">
						<h4>¿Existen descuento para los primeros registros?</h4>
						<p>Efectivamente, pdorás contar con un interesante descuento si eres de los primeros en apuntarte a un workshop</p>
					</div>
					<div class="col-xs-4">
						<h4>Porué no todos los workshops tienen el mismo precio</h4>
						<p>Cada workshop por su naturaleza puede ser apto para un número de alumnos diferentes, pero no por ello hay que castigar al formador, 
						ésta es la causa de los diferntes precios</p>
					</div>
					<div class="col-xs-4">
						<h4>¿Cuando se dárá el wokrshop por confirmado?</h4>
						<p>Dado que se requiere un número minimo de reservas para confirmarlo, en el mismo momento en el que se alcance dicha cifra, se te enviará un email de confirmación</p>
					</div>
					<div class="col-xs-4">
						<h4>¿Con quien eh de contactar si tengo algun problema?</h4>
						<p>Para cada workshop se asignará  un responsable que se comunicará a todos los asistentes por email</p>
					</div>
					<div class="col-xs-4">
						<h4>¿Qué ocurre sin finalmente no puedo acudir?</h4>
						<p>Cada workshop tiene una fecha límite de anulación a partir de la cual solamente podremos reembolsarte una parte de la inscripción</p>
					</div>
				</div>
			</div>
		</section class='formulario'>
        <section>
            <div class="container">
                <div class="col-xs-12 col-sm-12 formulario">
                    <A name="formulario">      
                    </A>
                    <h4>Deja un comentario</h4>
                      <form name="form-contacto" method="get" novalidate>
                                <div class="col-xs-12">
								
									<label for="nombre">Nombre:</label>
									<div class="mdl-textfield mdl-js-textfield">
										<input class="mdl-textfield__input" type="text" id="sample1">
										<label class="mdl-textfield__label" for="sample1">Nombre...</label>
									</div>
									<br>
                                   <label for="nombre">Apellidos:</label>
									<div class="mdl-textfield mdl-js-textfield">
										<input class="mdl-textfield__input" type="text" id="sample1">
										<label class="mdl-textfield__label" for="sample1">Apellidos...</label>
									</div>
                                    <br>
									 <label for="email">Email:</label>
									 <div class="mdl-textfield mdl-js-textfield">
										<input class="mdl-textfield__input" type="email" id="sample1"  
											pattern="[A-Za-z0-9\.\+]+@[A-Za-z0-9]+\.[A-Za-z0-9\.]+">
										<label class="mdl-textfield__label" for="sample1">name@company.com</label>
									</div>
									<br>
                                    <textarea name="comentarios" rows="10" cols="80"></textarea>    
                                </div> 
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
									Guardar
								</button 
					   </form>   
                </div>
            </div>
        <section>
            
        </section>
    </article>

    
   